.container {
    width: 100%;
}

.navigation {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    opacity: 0.4;

    .prev,
    .current,
    .next {
        float: right;
    }
    .current {
        padding: 10px 10px;
    }
}

.pdf-viewer-container {
    display: flex;
    flex-direction: row;

    .edge {
        height: 300px;
        width: 80px;
        background-color: red;
        position: absolute;
        z-index: -1;

        &.left {
            left: 0;
        }

        &.right {
            right: 0;
        }
    }
}

:host /deep/ .ng2-pdf-viewer-container {
    overflow: hidden !important;

    .page {
        margin: 0 !important;
    }
}
