<div class='container navigation'>
    <button mat-raised-button color="primary" class="last"
        (click)="goLastPage()" *ngIf="lastButtonVisible()">
        {{lastPage}}
    </button>
    <button mat-raised-button color="primary" class="next"
        (click)="nextPage()">
        >>
    </button>
    <label class="current">{{currentPage}}</label>
    <button mat-raised-button color="primary" class="prev"
        (click)="prevPage()" [disabled]="isFirstPage()">
        <<
    </button>
</div>
<div class='pdf-viewer-container'
    (panstart)="onPanStart($event)" (panmove)="onPan($event)" (panend)="onPanEnd($event)"
    [style.marginLeft.px]="x"
    >
    <div class="edge left"></div>
    <pdf-viewer #pdfViewer class='container viewer'  style="display: block"
        [src]="pdfSrc"
        [show-all]="false"
        [(page)]="currentPage"
        [render-text]="false"
        [fit-to-page]="true"
        (pagerendered)="onPageRendered($event)"
        mouseWheel (mouseWheelUp)="mouseWheelUpFunc($event)" (mouseWheelDown)="mouseWheelDownFunc($event)"
    ></pdf-viewer>
    <div class="edge right"></div>
</div>
